{% extends "base.html" %}
{% block content %}


			<!-- Features -->
				<section id="features">
					<div class="container">
						<header>
							<h2>Список наших <strong>курсов</strong>!</h2>
						</header>
						<div class="row aln-center">
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
									<section>
										<a href="{{ url_for('programming') }}" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Программирование</h3>
										</header>
										<p><strong>Бэкенд</strong> программирование на языке программирования Python</p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
									<section>
										<a href="{{ url_for('english') }}" class="image featured"><img src="/static/images/pic02.jpg" alt="" /></a>
										<header>
											<h3>Английский язык</h3>
										</header>
                                        <p>Современные методики обучения английскому языку, который заствит вас заговорить на иностранном языке </p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
									<section>
										<a href="{{ url_for('preschool') }}" class="image featured"><img src="/static/images/pic03.jpg" alt="" /></a>
										<header>
											<h3>Подготовка к гимназии</h3>
										</header>
										<p><strong>Комплексная подготовка</strong> к гимназии</p>
									</section>

							</div>
{#							<div class="col-12">#}
{#								<ul class="actions">#}
{#									<li><a href="{{ url_for('courses') }}" class="button icon solid fa-file">Еще больше курсов</a></li>#}
{#								</ul>#}
{#							</div>#}
						</div>
					</div>
				</section>

			<!-- Banner -->
				<section id="banner">
					<div class="container">
						<p>"iStydy" место, где молодежь встречается, чтобы <strong>жить, творить, дружить и находить себя</strong>.<br />
						 </p>
					</div>
				</section>





			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<header>
							<h2>Вопросы или комментарии? <strong>Пишите:</strong></h2>
						</header>
						<div class="row">
							<div class="col-6 col-12-medium">
								<section>
									<form action="{{url_for('success')}}" method="POST">
										<div class="row gtr-50">
											<div class="col-6 col-12-small" data-validate="Name is required">
												<input name="username" placeholder="Ваше имя" type="text" />
											</div>
											<div class="col-6 col-12-small" data-validate="Name is required">
												<input name="email" placeholder="Ваш email" type="text" />
											</div>
											<div class="col-12" data-validate="Name is required">
												<textarea name="message" placeholder="Ваше сообщение"></textarea>
											</div>
											<div class="col-12">
                                                <button class="contact100-form-btn" type="submit" class="form-button-submit button icon solid fa-envelope">
                                                    Отправить сообщение</button>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<p>Если вам удобно задать вопрос по телефону, то отправьте его в форме и мы обязательно вам перезвоним!</p>
									<div class="row">
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon solid fa-home">
													Пересечение улиц Фрунзе и Ленина<br />
													с. Сокулук, Кыргызстан
												</li>
												<li class="icon solid fa-phone">
													+996 (555) 770-662
												</li>
												<li class="icon solid fa-envelope">
													<a href="#">iStudy@gmail.com</a>
												</li>
											</ul>
										</div>
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon brands fa-twitter">
													<a href="#">@iStudykg</a>
												</li>
												<li class="icon brands fa-instagram">
													<a href="#">instagram.com/iStudykg</a>
												</li>
												<li class="icon brands fa-dribbble">
													<a href="#">dribbble.com/iStudykg</a>
												</li>
												<li class="icon brands fa-facebook-f">
													<a href="#">facebook.com/iStudykg</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy;endgm. All rights reserved.</li><li>Design: Internet</a></li>
						</ul>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>


{% endblock %}